{% extends 'layouts/base.html.twig' %}
{% block title %}Report{% endblock %}
{% block body %}
    <div class="columns is-mobil">
        <div class="column is-full">
            <div class="content">
                <h1 class="is-size-1">Hello ReportsController! <span class="icon-text has-text-success ml-1 mt-4"><span class="icon"><i class="fas fa-check-square"></i></span></span></h1>
                <p>Please enter the Account ID your's like to display:
                </p>
                <form method="post" action="." class="columns is-mobil">
                    <div class="column is-3">
                        <input class="input mb-2" type="text" name="account_id" id="account_id" placeholder="Account ID">
                        <input class="button is-primary" name="get_data" type="submit" value="GET DATA">
                        <input class="button is-primary" name="show_all" type="submit" value="SHOW ALL">
                    </div>
                </form>
                <div class="columns mt-3 is-mobil">
                    <div class="column is-12">
                        <table class="table is-narrow is-fullwidth">
                            <caption class="has-text-left">Aggregate performance for All <b>ACTIVE</b> accounts is listed bellow:</caption>
                            <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account ID</th>
                                <th>Spend</th>
                                <th>Clicks</th>
                                <th>Impressions</th>
                                <th>Cost per Click</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td>{{ account.accountName }}</td>
                                    <td>{{ account.accountId }}</td>
                                    <td>{{ account.sumSpend }}</td>
                                    <td>{{ account.sumClicks }}</td>
                                    <td>{{ account.sumImpressions }}</td>
                                    <td>{{ account.totalCostPerClick }}</td>
                                </tr>
                            {% else %}
                                <tr><td class="has-text-centered" colspan="6"><b>No hay datos</b></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}